<%- include('layouts/header') %>
<%- include('layouts/navbar') %>
<h1><%= title %></h1>
<p>Họ tên: Cao Thị Thanh Ngân</p>
<p>Email: daihock46@gmail.com</p>
<p>Số điện thoại: 0339693441</p>
<p>Địa chỉ: Thành phố Quy Nhơn</p>
<%- include('layouts/footer') %>