<%- include('layouts/header') %>
<%- include('layouts/navbar') %>

<h1><%= title %></h1>
<p><b>Họ tên:</b> Thanh Ngân</p> <p><b>Email:</b> ngan@example.com</p>
<p><b>Số điện thoại:</b> 090xxxxxxx</p>
<p><b>Địa chỉ:</b> TP. Hồ Chí Minh</p>

<%- include('layouts/footer') %>