<%- include('layouts/header') %>
<%- include('layouts/navbar') %>

<h1><%= title %></h1>
<p>Chào mừng bạn đến với website của Thanh Ngân.</p>
<p><a href="/list">Bấm vào đây để xem Danh sách địa điểm</a></p>

<%- include('layouts/footer') %>